In [142]:
import numpy as np
import pandas as pd

#  Importing data

In [109]:
df=pd.read_csv('C:/Users/S. VENU GOPAL RAO/Documents/SPARK FOUNDATION/PROJECT1.csv', header=0)

In [110]:
df.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hours   25 non-null     float64
 1   Scores  25 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 528.0 bytes

In [143]:
df.describe()

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000

# Fitting the Model

In [113]:
from sklearn.linear_model import LinearRegression

In [114]:
y = df['Scores']

In [115]:
X = df[['Hours']]

In [116]:
lm = LinearRegression()

In [117]:
lm.fit(X,y)

LinearRegression()

In [118]:
print(lm.intercept_, lm.coef_)

2.483673405373196 [9.77580339]

In [144]:
lm.predict(X)

array([26.79480124, 52.56250809, 33.73226078, 86.25874013, 36.70545772,
       16.88414476, 93.19619966, 56.52677068, 84.27660883, 28.77693254,
       78.33021494, 60.49103328, 46.6161142 , 34.72332643, 12.91988217,
       90.22300272, 26.79480124, 20.84840735, 62.47316457, 75.357018  ,
       28.77693254, 49.58931115, 39.67865467, 70.40168976, 79.32128059])

#  Test-train-split

In [120]:
from sklearn.model_selection import train_test_split

In [121]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [122]:
print (X_train.shape,X_test.shape,y_train.shape, y_test.shape)

(20, 1) (5, 1) (20,) (5,)

In [145]:
lm = LinearRegression()
lm.fit(X_train,y_train)

LinearRegression()

# Predict

In [134]:
y_test_pred = lm.predict(X_test)

In [146]:
y_test_pred

array([16.88414476, 33.73226078, 75.357018  , 26.79480124, 60.49103328])

#  Accuracy

In [138]:
from sklearn.metrics import r2_score, mean_squared_error

In [139]:
r2_score(y_test,y_test_pred)

0.9454906892105356

In [141]:
mean_squared_error(y_test,y_test_pred)

21.5987693072174